PORT=8080
ENVIRONMENT=development
MONGO_URI=mongodb://localhost:27017
REDIS_URI=redis://localhost:6379
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
SWK=super-secret-wrapper-key
