PORT=8080
MONGO_URI=mongodb://localhost:27017
MINIO_ENDPOINT=localhost:9000
MINIO_PUBLIC_ENDPOINT=localhost:9000
MINIO_BUCKET=filex
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
ENVIRONMENT=development
ALLOWED_ORIGINS=http://localhost:5173,https://filex.pranavdhawale.in